/* Custom Variables */
:root {
  /* Primary Colors */
  --linear-gradient: linear-gradient(
    to right,
    hsl(237, 73%, 79%),
    hsl(238, 63%, 64%)
  );
  --purple-color-50: hsl(237, 73%, 79%);
  --purple-color-100: hsl(238, 63%, 64%);

  /* Neutral Colors */
  --blue-color-50: hsl(240, 78%, 98%);
  --gray-color-650: hsl(233, 13%, 49%);
  --gray-color-700: hsl(232, 13%, 33%);
}

/*  Main Title and Toggle Button*/
.main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__title {
  text-align: center;
  margin: 3rem 0 2rem 0;

  color: var(--gray-color-700);
}

.toggle__container {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 4rem;

  .toggle__btn {
    margin: 0 1rem;
    width: 3rem;
    height: 1.75rem;
    position: relative;

    border-radius: 1rem;
    border: none;
    background: var(--linear-gradient);

    .toggle__circle {
      position: absolute;
      top: 0.2rem;
      right: 0.25rem;
      width: 1.35rem;
      height: 1.35rem;
      border-radius: 50%;
      background-color: var(--blue-color-50);
      transition: transform 0.3s ease-in-out;
    }
  }

  .toggle__btn:hover {
    opacity: 0.5;
  }

  .toggle__btn.active .toggle__circle {
    transform: translateX(-1.2rem);
  }

  .annual,
  .monthly {
    color: var(--gray-color-700);
    opacity: 0.5;
  }
}

.card__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 20rem;
  gap: 2rem;
  position: relative;

  .card__professional {
    background: var(--linear-gradient);
  }

  .card__subtitle {
    font-size: 1rem;
    margin: 1.5rem 0 0.5rem 0;
  }

  .card__text {
    text-align: center;
    padding: 1rem 0;
  }

  .card__btn {
    margin: 2rem 0 0 0;
    padding: 0.75rem 0;
    width: 80%;

    background: var(--linear-gradient);
    border-radius: 0.35rem;

    color: var(--blue-color-50);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.card__basic,
.card__professional,
.card__master {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 27rem;
  border-radius: 0.5rem;

  #pricing__basic,
  #pricing__professional,
  #pricing__master {
    font-size: 4rem;
    font-weight: 700;

    margin: 0 0 1rem 0;
  }
}

.card__basic,
.card__master {
  background: var(--blue-color-50);
  box-shadow: 10px 10px 20px 20px rgba(0, 0, 0, 0.1);

  color: var(--gray-color-650);

  #pricing__basic,
  #pricing__master {
    color: var(--gray-color-700);
  }
}

/* Utility Classes */
.border__blue {
  border-top: 1px solid var(--blue-color-50);
  border-bottom: 1px solid var(--blue-color-50);
  width: 80%;
}

.border__gray {
  border-top: 1px solid var(--gray-color-650);
  border-bottom: 1px solid var(--gray-color-650);
  width: 80%;
}

#btn__professional {
  background: var(--blue-color-50);
  color: var(--purple-color-100);
}

#btn__professional:hover {
  background: transparent;
  color: var(--blue-color-50);

  border: 1px solid var(--blue-color-50);
  transition: all 0.3s ease-in-out;
}

#btn__basic:hover,
#btn__master:hover {
  background: transparent;
  color: var(--purple-color-100);

  border: 1px solid var(--purple-color-100);
  transition: all 0.3s ease-in-out;
}

.white {
  color: var(--blue-color-50);
}

/* Media Queries */
@media only screen and (min-width: 992px) {
  .card__container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;

    width: 60rem;
  }

  .card__professional {
    height: 30rem;
  }

  .card__basic,
  .card__professional,
  .card__master {
    justify-content: center;
    padding: 0 0 1.5rem 0;
  }

  .card__basic {
    border-radius: 0.5rem 0 0 0.5rem;
  }

  .card__master {
    border-radius: 0 0.5rem 0.5rem 0;
  }
}
